<!DOCTYPE HTML>
<html>

    {{- partial "head_megascience_alt.html" . -}}

    <body>

        <!-- Wrapper -->
        <div id="wrapper">

            <div class="navbar">
                <ul>
                    <li><a href="#releases">Data Releases</a></li>
                    <li><a href="/megascience"><img src="../images/megascience_white.png" alt="MegaScience"/></a></li>
                    <li class="highlight"><a href="/megascience/news.html">MegaScience News</a></li>
                    <li><a href="/"><img src="../images/UNCOVER_logo_white.png" alt="UNCOVER"/></a></li>
                    <li class="highlight"><a href="/news.html" style="color: rgba(229, 160, 90, 1);">UNCOVER News</a></li>
                </ul>
            </div>

        <div id="main">

            <div class="text">

                {{ .Content }}

            </div>
            

        </div>

        <!-- Footer -->
        {{- partial "footer.html" . -}}


        <!-- Got to top of page: chevron up -->
        <div class="goToTop"><a href="#" aria-label="goToTop">
            <div class="svg">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
            </svg>
             </div>
            </a>
        </div>


        </div>

        <!-- BG -->
        <div id="bg"></div>

        <!-- Scripts -->
      {{- partial "scripts_simple.html" . -}}
      {{- partial "scripts_counter.html" . -}}


    </body>
</html>