  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="JWST UNCOVER Project" />
    <meta name="dc.relation" content="{{ .Site.BaseURL }}" />
    <meta name="theme-color" content="#0054b4" />
    <meta name="author" content="UNCOVER Collaboration">
    <!-- <title>{{ .Site.Title }}{{ if .IsHome }} -- Home{{ else }}{{ if .Page.Title }} -- {{ .Page.Title }}{{ end }}{{ end }}</title> -->
    <title>{{ .Site.Title }}{{ if .IsHome }}{{ else }}{{ if .Page.Title }}: {{ .Page.Title }}{{ end }}{{ end }}</title>
<!--   
    <link rel="stylesheet" href="/assets/custom-css/alt.css" />
    <link rel="stylesheet" href="/assets/custom-css/mods.css" /> -->


{{ $css := resources.Get "custom-css/alt.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />

{{ $css := resources.Get "custom-css/mods.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />

    <link rel="icon" type="image/x-icon" href="/images/UNCOVER_logo_black_magonly.svg">
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet"> -->

</head>