<!-- 
<div class="slider slide-show">
  <div class="img-wish">
      Test 1
          </div>
  <div class="img-wish">
    Test 2
          </div>
  <div class="img-wish">
    Test 3
          </div>
  </div> -->


<div class="news-carousel" >
<!-- <div style="display: flex; "> -->
  <!-- <div class="row"> -->

  {{ range (where .Site.RegularPages "Section" "news") }}

  <div class="indiv-slide-outer">

  
  <div class="indiv-slide">
  <!-- <div class="py-1" style="flex: 1;"> -->
    <!-- col-sm-6  -->
    <!-- <a href="{{ .RelPermalink }}"> -->


    {{ $anchorized := anchorize .Page.Title }}
    <a href="#{{ $anchorized }}">

    <div class="card bg-dark align-middle">
      <!-- <a href="#{{ $anchorized }}"> -->
      <!-- <div class="level1"> -->
          <!-- <div class="level2"> -->
            {{ $img_found := false }}
            {{ with .Resources.ByType "image" }}
              {{ range . }}
              {{ with .Fill "1200x600" }}
                <!-- BAD <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="card-img-top"  alt=""> -->
                <img src="{{ .RelPermalink }}"  width="{{ .Width }}"  height="{{ .Height }}" class="card-img-top"  alt="">
                {{ $img_found = true }}
              {{ end }}
              {{ end }}
            {{ end }}

            <!-- {{ $url := .Params.imageurl }} -->
            <!-- {{ $image := resources.GetRemote ( .Params.imageurl ) }} -->
            <!-- <img src="{{ $image }}" class="card-img-top"  alt=""> -->

            {{ if (eq $img_found false) }}
              {{ if isset .Params "imageurl" }}
                <img src="{{ .Params.imageurl }}" class="card-img-top"  alt="">
              {{ else }}
                <!-- <img src="/images/UNCOVER_logo_black_magonly.png" class="card-img-top"  alt=""> -->
                <img src="/images/UNCOVER_A2744_NWcore.png" width="900" height="300" class="card-img-top"  alt="">
              {{ end }}
            {{ end }}
          <!-- </div> -->
          <div class="card-body align-items-center justify-content-center d-flex">
            <div>
              <!-- <h4 class="card-title">{{ .Page.Title }}</h4> -->
              <p class="card-title">{{ dateFormat "Jan. 2, 2006" .Page.Date }}</p>
              <h3 class="card-text">
                {{ .Page.Title }}
              </h3>
              <!-- <a href="#" class="btn btn-primary">Read more</a> -->
            </div>
          </div>
      <!-- </div> -->
      <!-- </a> -->
    </div>
    </a>

  </div>
  </div>
{{ end }}

</div>
