body{
    background:#ccc;
  }
  .main {
    font-family:Arial;
    width:500px;
    display:block;
    margin:0 auto;
  }
  .img-wish{text-align: center !important;}
  .img-wish img{display: inline;} 


  .flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
  }

  .slider {
    display:flex; 
  }

  @media (max-width: 900px) {
    .flex-grid {
      display: block;
    }
  }