<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <main>
        <div class="container-fluid p-0">
          <!-- Sidebar -->
          {{- partial "sidebar.html" . -}}

          <!-- Right side -->
          <div class="col p-0 right-pane" id="main">

            {{- partial "navbar.html" . -}}

            <div class="p-5 ms-2 mt-2 text-left main-content">
              <h2>Page not found</h2>
              <h5 class="mt-4" style="font-weight:400; font-size: 1rem; ">
                Return to the
                <a style="text-decoration-style: dotted" href="{{ .Site.Home.Permalink }}">home page?</a>
              </h5>
            </div>

          </div>

          <!-- Footer -->
          {{- partial "footer.html" . -}}

        </div>
      </main>

      {{- partial "scripts.html" . -}}

    </body>
</html>
