

  <div class="d-flex d-md-none flex-grow-1 footer">
        <div class="d-flex d-md-none flex-grow-1 small">
          <div class="d-flex d-md-none p-2 ps-0">&copy; S. H. Price</div>
          <!-- <div class="d-flex d-sm-none d-md-block ms-auto p-2 pe-0 ps-0">&copy; S. H. Price</div> -->
          <!-- <div class="d-flex d-md-none p-2 ps-1"><a href="http://www.mpe.mpg.de/impressum">Imprint</a></div> -->
          <!-- <div class="d-flex d-md-none p-2 ps-1"><a href="http://www.mpe.mpg.de/data-protection">Data Protection</a></div> -->

          <!-- Bootstrap icon: chevron up -->
          <div class="d-md-none p-1 ms-auto"><a href="#" aria-label="goToTop">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
            </svg>
          </a>
          </div>
        </div>
  </div>


  <!-- <div class="d-flex d-md-none flex-grow-1 footer">
        <div class="d-flex d-md-none flex-grow-1 small">
          <div class="d-flex d-md-none p-2 ps-0">&copy; S. H. Price</div>
          <div class="d-flex d-md-none p-2 ps-1"><a href="http://www.mpe.mpg.de/impressum">Imprint</a></div>
          <div class="d-flex d-md-none p-2 ps-1"><a href="http://www.mpe.mpg.de/data-protection">Data Protection</a></div>

          <div class="d-md-none p-1 ms-auto"><a href="#" aria-label="goToTop">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
            </svg>
          </a>
          </div>
        </div>
  </div> -->
