<div class="col-md-4 px-4 py-0 sp-sidebar fixed-top d-none d-sm-none d-md-flex" id="sidebar">
  <div class="d-flex flex-column align-items-center" id="sidebar-header">
    <img src="images/shp_crop.jpg" class="img-fluid sp-side-photo rounded-circle" alt="Sidebar image of Sedona Price">
    <h1>Sedona Price</h1>
  </div>

  <hr>

  <div class="d-flex flex-column align-items-center" id="sidebar-main">
    <h2>Samuel P. Langley<br>PITT PACC Fellow</h2>
    <h3>University of Pittsburgh</h3>
    email: sedona.price [at] pitt.edu
  </div>

  <hr>

  <div class="mt-auto sp-sidebar-footer" id="sidebar-footer">
      <ul class="px-0 list-inline small">
        <li class="list-inline-item">&copy; S. H. Price</li>
      </ul>
  </div>

</div>
