<!DOCTYPE html>
<html>
    {{- partial "head_megascience.html" . -}}

      <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            {{ with .Site.GetPage "megascience/header" }}{{ .Content }}{{ end }}


            <!-- Main content -->
            <div id="main">
                <!-- {{- block "main" . }}{{- end }} -->
                <!-- {{ .Content }} -->

                <!-- Intro -->
                <article id="overview">
                    <h2 class="major">Survey Overview</h2>
                    <span class="image main"><img src="../images/megascience_bands.png" alt="" /></span>
                    
                    {{ with .Site.GetPage "megascience/overview" }}{{ .Content }}{{ end }}
                </article>



                <!-- Data releases -->
                    <article id="releases">

                        <h2 class="major">Data releases</h2>

                        <h3 class="minor">Acknowledgement</h3>
                        <!-- <p style="margin-bottom: 3rem"> -->
                        <p>Please cite the survey paper (<a href="https://ui.adsabs.harvard.edu/abs/2024arXiv240413132S/abstract">Suess et al. 2024</a>) 
                            for any publications using MegaScience data products, 
                            as well the other publications noted for specific releases.
                        </p>
                         
                        <p>As the MegaScience catalogs also include broad-band 
                            photometry from the <a href="..">UNCOVER survey</a> 
                            (GO-2561; PIs: Bezanson & Labbe), 
                            please also cite the UNCOVER survey paper 
                            (<a href="https://ui.adsabs.harvard.edu/abs/2022arXiv221204026B/abstract">Bezanson et al. 2022</a>)
                            in any publication using the UNCOVER+MegaScience data products. 
                        </p>

                        {{ with .Site.GetPage "megascience/releases_overview" }}{{ .Content }}{{ end }}
                    </article>


                <!-- Publications -->
                    <article id="publications" class="publications">
                        <h2 class="major">Publications</h2>

                        {{ with .Site.GetPage "megascience/publications" }}{{ .Content }}{{ end }}

                    </article>

                <!-- Team -->
                    <article id="team" class="plain-links two-column">
                        <!-- <div id="team-include"></div> -->
                        <div class="flex-horizontal">
                            <h2 class="major">Team</h2>
                            <!-- <h4><a href="https://sites.google.com/view/jwst-uncover/home">Internal website</a></h4> -->
                        </div>
                        <!-- <span class="image main"><img src="../images/UNCOVER_map.png" alt="" /></span> -->
                        <!-- <ul> -->
                        <p style="padding-top: 0rem;"></p>
                        {{ with .Site.GetPage "megascience/team" }}{{ .Content }}{{ end }}
                        <!-- </ul> -->

                        <i>(Survey builders are denoted in <b>bold</b>.)</i>
                    </article>



            
                    
            </div>


                <!-- Footer -->
                {{- partial "footer.html" . -}}


        </div>

        <!-- BG -->
        <div id="bg"></div>

        <!-- Scripts -->
      {{- partial "scripts_bootstrap.html" . -}}
      {{- partial "scripts_html5up.html" . -}}
      {{- partial "scripts_counter.html" . -}}


    </body>
</html>




