<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{{ $js := resources.Get "custom-js/slick/slick.js" | minify }}
<script src="{{ $js.RelPermalink }}"></script>
<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->

<script>
    $('.news-carousel').slick({
        infinite: false,
        speed: 300,
        slidesPerRow: 4, 
        rows: 2,
        draggable: true,
        dots: false,
        arrows: true, 
        responsive: [
            {
            breakpoint: 1200,
            settings: {
                slidesPerRow: 3, 
                rows: 2, 
            }
            },
            {
            breakpoint: 900,
            settings: {
                slidesPerRow: 2, 
                rows: 2, 
            }
            },
            {
            breakpoint: 600,
            settings: {
                slidesPerRow: 1, 
                rows: 2, 
            }
            },
            {
            breakpoint: 480,
            settings: {
                slidesPerRow: 1, 
                rows: 1, 
            }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });

</script>